NEXT_PUBLIC_INFURA_PROJECT_ID=xxx
NEXT_PUBLIC_ADDRESS_TRADE_COUNCIL=0xfDef3606794069c94091D8795d5C26aE919d637e
NEXT_PUBLIC_ADDRESS_CORE_CONTRIBUTOR_COUNCIL=0xf7363d2d68764710f7b7DCa7e4992e37C5955DCC
NEXT_PUBLIC_ADDRESS_ECOSYSTEM_COUNCIL=0xc917EE53390e115FA5dAd1ed5Eb4A9c5871cd773
NEXT_PUBLIC_ADDRESS_TREASURY_COUNCIL=0xA25E083fAC779BD8bF92D4C7a496381794eB1772
NEXT_PUBLIC_BOARDROOM_KEY=xxx
NEXT_PUBLIC_PORTIS_APP_ID=XXX
NEXT_PUBLIC_ALCHEMY_KEY_OPTIMISM=XXX
NEXT_PUBLIC_ALCHEMY_KEY_MAINNET=XXX
NEXT_PUBLIC_NETWORK_ID=XXX
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
