html,
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

.darker-20 {
	background-color: rgba(0, 0, 0, 0.2);
}

.darker-40 {
	background-color: rgba(0, 0, 0, 0.4);
}

.darker-60 {
	background-color: rgba(0, 0, 0, 0.6);
}

.darker-80 {
	background-color: rgba(0, 0, 0, 0.8);
}

.lighter-20 {
	background-color: rgba(255, 255, 255, 0.2);
}

.lighter-40 {
	background-color: rgba(255, 255, 255, 0.4);
}

.lighter-60 {
	background-color: rgba(255, 255, 255, 0.6);
}

.lighter-80 {
	background-color: rgba(255, 255, 255, 0.8);
}

.ui-bg-clip-text {
	-webkit-background-clip: text;
	background-clip: text;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Inter'), url('../components/old-ui/fonts/Inter-Regular.woff2') format('woff2'),
		url('../components/old-ui/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Lustra Text';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local('Lustra Text'),
		url('../components/old-ui/fonts/Lustra-Text-Regular.woff2') format('woff2'),
		url('../components/old-ui/fonts/Lustra-Text-Regular.woff') format('woff');
}

@font-face {
	font-family: 'GT America';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local('GT America'),
		url('../components/old-ui/fonts/GT-America-Regular.woff2') format('woff2'),
		url('../components/old-ui/fonts/GT-America-Regular.woff') format('woff');
}

@font-face {
	font-family: 'GT America Extended';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local('GT America Extended'),
		url('../components/old-ui/fonts/GT-America-Extended-Bold.woff2') format('woff2'),
		url('../components/old-ui/fonts/GT-America-Extended-Bold.woff') format('woff');
}

@font-face {
	font-family: 'GT America Mono';
	font-style: normal;
	font-display: swap;
	font-weight: bold;
	src: local('GT America Extended'),
		url('../components/old-ui/fonts/GT-America-Mono-Bold.woff2') format('woff2'),
		url('../components/old-ui/fonts/GT-America-Mono-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Inter Bold';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local('Inter Bold'), url('../components/old-ui/fonts/Inter-Bold.woff2') format('woff2'),
		url('../components/old-ui/fonts/Inter-Bold.woff') format('woff');
}

html.stop-scrolling body {
	overflow: hidden;
}
