html,
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

.darker-20 {
	background-color: rgba(0, 0, 0, 0.2);
}

.darker-40 {
	background-color: rgba(0, 0, 0, 0.4);
}

.darker-60 {
	background-color: rgba(0, 0, 0, 0.6);
}

.darker-80 {
	background-color: rgba(0, 0, 0, 0.8);
}

.lighter-20 {
	background-color: rgba(255, 255, 255, 0.2);
}

.lighter-40 {
	background-color: rgba(255, 255, 255, 0.4);
}

.lighter-60 {
	background-color: rgba(255, 255, 255, 0.6);
}

.lighter-80 {
	background-color: rgba(255, 255, 255, 0.8);
}

.ui-bg-clip-text {
	-webkit-background-clip: text;
	background-clip: text;
}

.lustra {
	font-family: 'Lustra Text';
}

html.stop-scrolling body {
	overflow: hidden;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar-thumb {
	background: var(--color-blue);
	-webkit-border-radius: 5px;
}

::-webkit-scrollbar-corner {
	background: #000;
}

.dropdown-border {
	border: 1px solid rgba(130, 130, 149, 0.3);
}

.hide-scrollbar {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.gt-america-condensed-bold-font {
	font-family: 'GT America Condensed Bold';
}

.gt-america-bold-font {
	font-family: 'GT America Bold';
}

.gt-america-font {
	font-family: 'GT America';
}

.gt-america-mono {
	font-family: 'GT America Mono';
}
:root {
	--onboard-modal-z-index: 9999;
}
