html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
	color: var(--color-black-700);
	html.ui-dark & {
		color: var(--color-black-100);
		background-color: var(--color-black-600);
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-size: 12px;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 5rem white inset;
	html.ui-dark & {
		caret-color: white;
		-webkit-text-fill-color: white;
		-webkit-box-shadow: 0 0 0 5rem var(--color-black-600) inset;
	}
}

/* Remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* scrollbar style */
/* width */
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
	background: var(--color-black-100);
	html.ui-dark & {
		background: var(--color-black-400);
	}
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-yellow-700);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-yellow-600);
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

.darker-20 {
	background-color: rgba(0, 0, 0, 0.2);
}

.darker-40 {
	background-color: rgba(0, 0, 0, 0.4);
}

.darker-60 {
	background-color: rgba(0, 0, 0, 0.6);
}

.darker-80 {
	background-color: rgba(0, 0, 0, 0.8);
}

.lighter-20 {
	background-color: rgba(255, 255, 255, 0.2);
}

.lighter-40 {
	background-color: rgba(255, 255, 255, 0.4);
}

.lighter-60 {
	background-color: rgba(255, 255, 255, 0.6);
}

.lighter-80 {
	background-color: rgba(255, 255, 255, 0.8);
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Inter'), url('../components/old-ui/fonts/Inter-Regular.woff2') format('woff2'),
		url('../components/old-ui/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Lustra Text';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local('Lustra Text'),
		url('../components/old-ui/fonts/Lustra-Text-Regular.woff2') format('woff2'),
		url('../components/old-ui/fonts/Lustra-Text-Regular.woff') format('woff');
}

@font-face {
	font-family: 'GT America';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local('GT America'),
		url('../components/old-ui/fonts/GT-America-Regular.woff2') format('woff2'),
		url('../components/old-ui/fonts/GT-America-Regular.woff') format('woff');
}

@font-face {
	font-family: 'GT America Extended';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local('GT America Extended'),
		url('../components/old-ui/fonts/GT-America-Extended-Bold.woff2') format('woff2'),
		url('../components/old-ui/fonts/GT-America-Extended-Bold.woff') format('woff');
}

@font-face {
	font-family: 'GT America Mono';
	font-style: normal;
	font-display: swap;
	font-weight: bold;
	src: local('GT America Extended'),
		url('../components/old-ui/fonts/GT-America-Mono-Bold.woff2') format('woff2'),
		url('../components/old-ui/fonts/GT-America-Mono-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Inter Bold';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local('Inter Bold'), url('../components/old-ui/fonts/Inter-Bold.woff2') format('woff2'),
		url('../components/old-ui/fonts/Inter-Bold.woff') format('woff');
}
