html,
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

.farming-button-background {
	border-radius: 2px;
	background: var(--primary, #FF9B69);
	box-shadow: 2px 2px 6px 0px #CF7446;
}

.ui-bg-clip-text {
	-webkit-background-clip: text;
	background-clip: text;
}

.lustra {
	font-family: 'Lustra Text';
}

html.stop-scrolling body {
	overflow: hidden;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

::-webkit-scrollbar-thumb {
	background: var(--color-blue);
	-webkit-border-radius: 5px;
}

::-webkit-scrollbar-corner {
	background: #000;
}

.dropdown-border {
	border: 1px solid rgba(130, 130, 149, 0.3);
}

.hide-scrollbar {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.gt-america-condensed-bold-font {
	font-family: 'GT America Condensed Bold';
}

.gt-america-bold-font {
	font-family: 'GT America Bold';
}

.gt-america-font {
	font-family: 'GT America';
}

.gt-america-mono {
	font-family: 'GT America Mono';
}
:root {
	--onboard-modal-z-index: 9999;
}
