.ui-slide-enter {
	opacity: 0.01;
}
.ui-slide-enter.ui-slide-enter-active {
	opacity: 1;
	transition: opacity 160ms ease-in;
}
.ui-slide-exit {
	opacity: 1;
}
.ui-slide-exit.ui-slide-exit-active {
	opacity: 0.01;
	transition: opacity 160ms ease-in;
}

.ui-slide-enter .modal-content {
	transform: translateY(100%);
}
.ui-slide-enter.ui-slide-enter-active .modal-content {
	transition: transform 220ms ease-in;
	transform: translateY(34px);
}
.ui-slide-exit .modal-content {
	transform: translateY(34px);
}
.ui-slide-exit.ui-slide-exit-active .modal-content {
	transition: transform 220ms ease-in;
	transform: translateY(110%);
}
.ui-slide-enter-done .modal-content {
	transform: translateY(34px);
}

/* Animation */
@keyframes appear {
	0% {
		transform: translate3d(0, 14px, 0);
		opacity: 0;
	}

	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

.animation-appear {
	-webkit-animation: appear 0.3s cubic-bezier(0.215, 0.86, 0.355, 1) forwards;
	animation: appear 0.3s cubic-bezier(0.215, 0.86, 0.355, 1) forwards;
	transform: translate3d(0, 14px, 0);
	opacity: 0;
}

.animation-delay-1 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.animation-delay-2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.animation-delay-3 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.animation-delay-4 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.animation-delay-5 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
