@layer utilities {
	.tg-title-h1 {
		font-family: 'Inter';
		font-size: 2.5rem; // 40px
		line-height: 2.75rem; // 80px
		font-weight: 700;
	}

	.tg-title-h2 {
		font-family: 'Inter';
		font-size: 2rem; // 24px
		line-height: 2.18rem; // 50px
		font-weight: 700;
	}

	.tg-title-h3 {
		font-family: 'Inter';
		font-size: 1.5rem; // 24px
		line-height: 1.6rem; // 40px
		font-weight: 700;
		letter-spacing: 0px;
		text-align: 'left';
	}

	.tg-title-h4 {
		font-family: 'Inter';
		font-size: 1.25rem; // 18px
		line-height: 1.18rem; // 36px
		font-weight: 700;
		letter-spacing: 0px;
		text-align: 'left';
	}

	.tg-title-h5 {
		font-family: 'Inter';
		font-size: 0.87rem; // 14px
		line-height: 1rem; // 30px
		font-weight: 700;
		letter-spacing: 0px;
		text-align: 'left';
	}

	.tg-title-h6 {
		font-family: 'Inter';
		font-size: 0.75rem; // 12px
		line-height: 0.82rem; // 30px
		font-weight: 700;
		letter-spacing: 0px;
		text-align: 'left';
	}

	.tg-body-large {
		font-family: 'Inter';
		font-size: 1rem; // 18px
		line-height: 1.25rem; // 30px
		font-weight: normal;
	}

	.tg-body {
		font-family: 'Inter';
		font-size: 0.87rem; // 18px
		line-height: 1.25rem; // 30px
		font-weight: normal;
	}
	.tg-body-small {
		font-family: 'Inter';
		font-size: 0.75rem; // 18px
		line-height: 0.93rem; // 30px
		font-weight: normal;
	}

	.tg-body-bold {
		font-size: 1.125rem; // 18px
		line-height: 1.875rem; // 30px
		font-weight: 700;
	}

	.tg-main {
		font-size: 1rem; // 16px
		line-height: 1.375rem; // 22px
		font-weight: normal;
	}

	.tg-subhead {
		font-size: 0.9375rem; // 15px
		line-height: 1.375rem; // 22px
		font-weight: normal;
	}

	.tg-content {
		font-size: 0.875rem; // 14px
		line-height: 1.25rem; // 20px
		font-weight: normal;
	}

	.tg-content-bold {
		font-size: 0.875rem; // 14px
		line-height: 1.25rem; // 20px
		font-weight: 700;
	}

	.tg-caption {
		font-family: 'Inter';
		font-size: 0.75rem; // 12px
		line-height: 0.68rem; // 16px
		font-weight: normal;
	}

	.tg-caption-bold {
		font-family: 'Inter Bold';
		font-size: 0.75rem; // 12px
		line-height: 0.68rem; // 16px
		font-weight: 700;
	}

	.tg-caption-sm {
		font-family: 'Inter';
		font-size: 0.6rem; // 9.6px
		line-height: 0.8rem; // 12.8px
		font-weight: normal;
	}
}
