html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 12px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

button {
	outline: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

/* Inter */

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Inter'), url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
		url('../assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Inter Semi Bold';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Inter Semi Bold'), url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
		url('../assets/fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Inter Bold';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Inter Bold'), url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
		url('../assets/fonts/Inter-Bold.woff') format('woff');
}

/* GT America */

@font-face {
	font-family: 'GT America Mono';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local('GT America Mono'), url('../assets/fonts/GT-America-Mono-Bold.woff') format('woff'),
		url('../assets/fonts/GT-America-Mono-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'GT America Condensed-Medium';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local('GT America Condensed-Medium'),
		url('../assets/fonts/GT-America-Condensed-Medium.woff2') format('woff2'),
		url('../assets/fonts/GT-America-Condensed-Medium.woff') format('woff');
}

@font-face {
	font-family: 'GT America Condensed-Bold';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	font-stretch: condensed;
	src: local('GT America Condensed-Bold'),
		url('../assets/fonts/GT-America-Condensed-Bold.woff2') format('woff2'),
		url('../assets/fonts/GT-America-Condensed-Bold.woff') format('woff');
}

@font-face {
	font-family: 'GT America Extended Bold';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local('GT America Extended Bold'),
		url('../assets/fonts/GT-America-Extended-Bold.woff2') format('woff2'),
		url('../assets/fonts/GT-America-Extended-Bold.woff') format('woff');
}
